@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body {
  background-image: url("https://img.pngio.com/outer-spacespacescreenshotskyastronomical-objectatmosphere-galaxy-black-png-3840_2160.png");
  font-family: 'Goldman', cursive;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: white;
}

/* ===============================
  CUSTOM SEIR STYLES
=============================== */

div.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: #172fb9;
  padding: 30px;
  width: 50vw;
  max-width: 500px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  top: 45%;
  /* transform: translateY(-45%); */
  margin: 0 auto;
  display: none;
}

/* toggles the class model AND open */
.instructions-modal.open {
  display: block;
}
.gameplay-modal.open {
  display: block;
}

/* .carousel {
  background-color: #f9d2c5;
  padding: 30px;
  width: 50vw;
  max-width: 500px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  top: 45%;
  transform: translateY(-45%);
  margin: 0 auto;
  display: none;
} 

.carousel.open {
  display: block;
}
.carousel > img {
  /* width: 100%; 
} */ 